<ion-header>
  
</ion-header>

<ion-content padding class="background">

<div padding>
    <ion-segment [(ngModel)]="inhalerType" color="secondary">
      <ion-segment-button value="preventer">
        	Add Preventer
      </ion-segment-button>
      <ion-segment-button value="reliever">
        	Add Reliever
      </ion-segment-button>
    </ion-segment>
</div>

<div [ngSwitch]="inhalerType" > 


  <div *ngSwitchCase="'preventer'">

  	<ion-list>
  <ion-item-sliding *ngFor="let preventer of preventers" (click)="preventerClick(preventer)">

    <ion-item>
    <h2 text-wrap> {{preventer.name}} </h2>
    <h3> {{preventer.dosage}} </h3>
    <p> {{preventer.dailyDosage}} </p>
    </ion-item>
    
  </ion-item-sliding>
</ion-list>

  	<button ion-button round full (click)="addPreventer()">Add</button>
  </div>
</div>

<div [ngSwitch]="inhalerType" >

  <div *ngSwitchCase="'reliever'">
  <ion-list>
  <ion-item-sliding  *ngFor="let reliever of relievers">

    <ion-item>
    <h2 text-wrap> {{reliever.relieverName}} </h2>
    <h3> {{reliever.relieverDosage}} </h3>
    </ion-item>
    
  </ion-item-sliding>
</ion-list>

   	<button ion-button (click)="addReliever()" round full>Add</button>
  </div>
</div>

<button ion-button (click)="homePop()" color="danger" round full style="margin-top: 10px">Back</button>





</ion-content>